#App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  height: 510px;
  width: 100%;
  margin: 40px;
  padding: 16px;
  max-width: 520px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0 rgba(170, 170, 170, 0.2);
}

.user-list {
  height: 100%;
  overflow: auto;
}

.user-row {
  width: calc( 100% - 40px );
  margin: 8px 0px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  display: flex;
  align-items: center;
}